SERVER_ADDRESS = 0.0.0.0:5000
API_KEY = EXAMPLE_API_KEY
 
LOG_LEVEL = info
# Optional
LOG_FILE_PATH = /app/shieldsup/logs/scanner-api.log


#BOTH TEMPLATE AND TEMP TEMPLATE FOLDER SHOULD BE SAME FILESYSTEM
TEMPLATE_FOLDER=/app/shieldsup/scanner_api/templates/
TEMP_TEMPLATE_FOLDER=/app/shieldsup/scanner_api/temp_templates/

LOCAL_TMP_DIR = /app/shieldsup/scanner_api/local_temp/

DOCKER_NAME=enginename
