DATABASE_URI = mongodb://root:root@localhost:27017/shieldsup_data?authSource=admin&authMechanism=SCRAM-SHA-256
DB_NAME = shieldsup_data
REPORTER_BIN = /app/shieldsup/bin/reporter
SCANNER_API_URL = http://localhost:5000/api/v1
SCANNER_API_KEY = test
LOCAL_TMP_DIR = /app/shieldsup/scanner/local_temp
LOG_LEVEL = info
LOG_FILE_PATH = /app/shieldsup/logs/scanner.log
